@model IEnumerable<Shopigol.Core.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

@foreach (var product in Model)
{
    <div class="col-md-4" style="height: 450px; padding: 10px; margin: 10px; border: solid thin whitesmoke;">
        <div class="col-md-12">
            <img class="img-responsive" style="height: 250px;" src="/images/@product.Image" alt="Product Image" />
        </div>
        <div class="col-md-12">
            <strong><a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></strong>
        </div>
        <div class="col-md-12">
            <p>@product.Description</p>
        </div>
        <div class="col-md-12">
            <h4>@product.Price</h4>
        </div>
        <div class="col-md-12">
            <a href="#" class="btn btn-default">Add to Basket</a>
        </div>
    </div>
}
<div class="col-md-12 clearfix"></div>
